<!DOCTYPE html>
<html>
<head>
    <title>Chess Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>♟ Chess Game</h1>

    <select id="difficulty">
        <option value="easy">Easy AI</option>
        <option value="medium">Medium AI</option>
        <option value="hard">Hard AI</option>
    </select>

    <!-- Multiplayer -->
    <div id="multiplayer">
        <input type="text" id="roomInput" placeholder="Enter Room Code">
        <button id="createRoomBtn">Create Room</button>
        <button id="joinRoomBtn">Join Room</button>
    </div>

    <div id="roomStatus">Not Connected</div>

    <div id="turn">Turn: White</div>

    <div id="timer-container">
        <div id="whiteTimer">White: 10:00</div>
        <div id="blackTimer">Black: 10:00</div>
    </div>

    <div id="captured-container">
        <div>
            <h3>White Captured</h3>
            <div id="whiteCaptured"></div>
        </div>

        <div>
            <h3>Black Captured</h3>
            <div id="blackCaptured"></div>
        </div>
    </div>

    <div id="board"></div>

    <button id="restartBtn">Restart Game</button>
    <button id="undoBtn">Undo Move</button>

    <h3>Move History</h3>
    <div id="history"></div>

    <div id="winnerPopup" class="popup hidden">
        <h1 id="winnerText"></h1>
    </div>

    <div id="checkPopup" class="check-popup hidden">
        CHECK!
    </div>

    <!-- Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>

    <!-- Project JS -->
    <script src="{{ url_for('static', filename='js/timer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sound.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ai.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</body>
</html>